$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin from($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin sm {
  @include from(sm) {
    @content;
  }
}

@mixin md {
  @include from(md) {
    @content;
  }
}

@mixin lg {
  @include from(lg) {
    @content;
  }
}

@mixin xl {
  @include from(xl) {
    @content;
  }
}

@mixin xxl {
  @include from(xxl) {
    @content;
  }
}
