
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--body);
  color: var(--text);
  background: var(--surface);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:not([class*='p-']),
input:not([class*='p-']),
select:not([class*='p-']),
textarea:not([class*='p-']) {
  font: inherit;
  color: inherit;
}
